In [1]:
# Import libraries
import pandas as pd
import re

## Load in the data

In [8]:
# Load in the tags data
# Read in the tage and have a look
tags_df = pd.read_csv('../Datasets/stacksample/Tags.csv')
tags_df.head(10)

    Id                    Tag
0   80                   flex
1   80         actionscript-3
2   80                    air
3   90                    svn
4   90            tortoisesvn
5   90                 branch
6   90  branching-and-merging
7  120                    sql
8  120                asp.net
9  120                sitemap

In [9]:
# Have a look at the some of the tags
tag_count = tags_df.groupby(['Tag'])
tag_count.count()

                Id
Tag
.a              13
.app            14
.aspxauth        6
.bash-profile   46
.class-file     19
...            ...
zwoptex          3
zxing          159
zxspectrum       1
zynq            11
zypper           2

[37034 rows x 1 columns]

In [13]:
# Load in the questions
questions_df = pd.read_csv('../Datasets/stacksample/Questions.csv', encoding = 'ISO-8859-1')
questions_df.head(10)

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...
5,330,63.0,2008-08-02T02:51:36Z,NaN,29,Should I use nested classes in this case?,<p>I am working on a collection of classes use...
6,470,71.0,2008-08-02T15:11:47Z,2016-03-26T05:23:29Z,13,Homegrown consumption of web services,<p>I've been writing a few web services for a ...
7,580,91.0,2008-08-02T23:30:59Z,NaN,21,Deploying SQL Server Databases from Test to Live,<p>I wonder how you guys manage deployment of ...
8,650,143.0,2008-08-03T11:12:52Z,NaN,79,Automatically update version number,<p>I would like the version property of my app...
9,810,233.0,2008-08-03T20:35:01Z,NaN,9,Visual Studio Setup Project - Per User Registr...,<p>I'm trying to maintain a Setup Project in <...

In [14]:
# Load in the answers
answers_df = pd.read_csv('../Datasets/stacksample/Answers.csv', encoding = 'ISO-8859-1')
answers_df.head(10)

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
2,199,50.0,2008-08-01T19:36:46Z,180,1,<p>I've read somewhere the human eye can't dis...
3,269,91.0,2008-08-01T23:49:57Z,260,4,"<p>Yes, I thought about that, but I soon figur..."
4,307,49.0,2008-08-02T01:49:46Z,260,28,"<p><a href=""http://www.codeproject.com/Article..."
5,332,59.0,2008-08-02T03:00:24Z,330,19,<p>I would be a bit reluctant to use nested cl...
6,344,100.0,2008-08-02T04:18:15Z,260,6,<p>You might be able to use IronRuby for that....
7,359,119.0,2008-08-02T06:16:23Z,260,5,"<P>You could use any of the DLR languages, whi..."
8,473,49.0,2008-08-02T15:33:13Z,470,8,"<p>No, what you're doing is fine. Don't let th..."
9,529,86.0,2008-08-02T18:16:07Z,180,3,<p>Isn't it also a factor which order you set ...

## Data Wrangling

#### Let's start with cleaning up the questions and answers

In [15]:
# Create a function to clean up the text
def strip_html_tags(body):
    # Remove html tags
    regex = re.compile('<.*?>')
    no_html_tags = re.sub(regex, '', body)                     
    return no_html_tags

In [16]:
# Strip the html tags from the questions
questions_df['Body'] = questions_df['Body'].apply(strip_html_tags)

In [18]:
# Have a look at one of the questions
print(questions_df['Body'][1])

Are there any really good tutorials explaining branching and merging with Apache Subversion?

All the better if it's specific to TortoiseSVN client.

In [20]:
# Strip the html tags from the answers
answers_df['Body'] = answers_df['Body'].apply(strip_html_tags)

In [21]:
# Have a look at one of the answers
print(answers_df['Body'][1])

I wound up using this. It is a kind of a hack, but it actually works pretty well. The only thing is you have to be very careful with your semicolons. : D

var strSql:String = stream.readUTFBytes(stream.bytesAvailable);
var i:Number = 0;
var strSqlSplit:Array = strSql.split(";");
for (i = 0; i &lt; strSqlSplit.length; i++){
    NonQuery(strSqlSplit[i].toString());
}